html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__logo {
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}

.nav__link {
  display: inline;
}

.nav__list {
  text-align: center;
}

.nav__logo {
  margin-bottom: 0.5rem;
  text-align: center;
}

.nav__link a {
  box-sizing: border-box;
  color: #292929;
  padding: .625rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav__link a:hover, .nav__link a:focus  {
  background-color: #292929;
  color: #fff;
  text-decoration: underline;
}

body {
  color: #292929;
}

.about {
  height: 100vh;
}

.about {
  background-image: url("../../../images/bg-images/profile-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__heading {
  color: white;
  font-weight: lighter;
  background-color: rgba(34, 28, 62, 0.8);
  /*margin: 10%;*/
  margin: 0 auto;
  margin-top: -20vh;
  width: 80%;
  padding: 5%;
  border-radius: 1rem;
  text-align: center;
  transition: all 1s ease-in-out;
}

.about__heading:hover{
  transform: scale(1.1);
}

.team {
  background-color: rgba(131, 152, 173, 0.7);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
}

.team__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 400px) {
  .team__header {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.team__heading {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  padding-top: 0.5rem;
}

.profile {
  margin: 0;
}

@media screen and (min-width: 400px) {
  .profile {
    height: auto;
    width: 25%;
    /*border: 1px solid red;*/
  }
}

.profile__card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

@media screen and (min-width: 400px) {
  .profile__card {
    justify-content: space-between;
    height: 100%;
  }
}

.profile__avatar {
  margin: 0 auto;
  /*max-height: 75vh;*/
  width: 100%;
}

.profile__bio {
  font-size: 1.1em;
  line-height: 1.75rem;
  text-align: center;
  padding: .3rem .63rem .63rem .63rem;
}

@media screen and (min-width: 400px) {
  .profile__bio {
    font-size: 1.4em;
  }
}

.profile__name {
  font-size: 1.5rem;
  padding: .3rem;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .profile__name {
    font-size: 2em;
  }
}

.social__icon {
  display: inline;
  height: 2.5rem;
  padding: 0.06rem 0.2rem 0.2rem 0.06rem;
  width: 2.5rem;
}

.social {
  display: flex;
  justify-content: center;
}

/* In media query .team__header height:10vh;, .profile height:90vh;
for .about__heading make text bigger*/


/* form changes below */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 2rem;
  background-color: rgb(59, 63, 69);
  height: 95vh;
}

.contact__heading {
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 3rem;
  text-transform: lowercase;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
  height: 80%;
}

.form__input--name, .form__input--email, .form__input--message {
  font-size: 1.6rem;
  padding-left: 1rem;
}

.form__label--name, .form__label--email, .form__label--message {
  font-size: 1.6rem;
  padding-left: 1rem;
}

.contact input {
  line-height: 3rem;
  border-radius: .25rem;
}

.form__input--message {
  height: 10rem;
  border-radius: .25rem;
  padding-top: 0.5rem;
}

.form__btn {
  height: 4rem;
  width: 50%;
  margin: 0 auto;
  border-radius: .25rem;
  color: #fff;
  background-color: #2280bf;
  border-style: none;
  font-size: 2rem;
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  background-color: rgba(27, 27, 31, 0.9);
  color: #ccc;
  height: 5vh;
  width: 100%;
}

.page-footer__text {
  font-size: 1.3rem;
  text-align: center;
}
